<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../public/assets/css/burger_style.css">
    <script src="https://use.fontawesome.com/0f97643179.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Anton|Carrois+Gothic+SC|Montserrat:900|Roboto|Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
</head>

<body>
<div class="container">
    <div class = "row">
        <img src="../public/assets/img/burger.png">
        <div class="col p-2">
            <form>
                <div class="form-group">
                    <label for="submitButton">Email address</label>
                    <input type="email" class="form-control" id="submitButton" aria-describedby="emailHelp"
                           placeholder="enter your burger!">
                </div>
                <button type="button" class="btn btn-success">Success</button>
            </form>
        </div>


    </div>

</div>


</body>


</html>